body { font-family: 'Raleway', sans-serif; }

.c-pointer { cursor: pointer; }

.table__note { margin-bottom: 0; font-size: 0.7em; }

.table-bordered { border: 0 }

.table-column__no-border { border: 0 !important }

.menu-options-list { list-style-type: none; padding-left: 15px; }

.menu-options-list-item {
  cursor: pointer;
  color: black;

  &.active {
    color: #d9534f !important;
    font-weight:bold;
  }
}
